APP_NAME=Laravel
APP_KEY=base64:FQivm3Por0EW7xrev9nZDw7QkCE+VY43bmIY4M1G3ms=
APP_ENV=production

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null

# Mobile host
MOBILE_WEBHOOK_URL=https://symptom-99910.bubbleapps.io/version-%s/api/1.1/wf/data_flow

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=symptom
DB_USERNAME=root
DB_PASSWORD=LFrjaeZ8djR5T9ux_

# OpenAI
SYMPTOM_AI_API_KEY=SymptomAlgaBas
OPENAI_API_KEY=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
OPENAI_MODEL=text-davinci-003

# AMQP обменник (раббит)
AMQP_HOST=https://194.110.55.190
AMQP_PORT=8070
AMQP_USER=symptom
AMQP_PASSWORD=adampass
AMQP_VHOST=""
AMQP_QUEUE=""
AMQP_EXCHANGE=""
AMQP_ROUTING_KEY=""

# MOBIZON sms-шлюз
MOBIZON_URL=api.mobizon.kz
MOBIZON_KEY=kz48b15931cca3d877fed200b5819732ea6cfd58b7729d23f3a87b6204b284318b1e26
